{%extends 'layout/layout.html'%}
{%block title%}Nosotros | melpStore{%endblock%}

{%block nosotros%}
    <h1>Nosotros</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body shadow-lg">
                <img src="https://png.pngitem.com/pimgs/s/295-2957820_png-image-with-transparent-background-icon-for-company.png" 
                    alt=""
                    class="img-fluid">
                <h1 class="text-center">Visi&oacute;n</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, est enim. 
                    Harum explicabo, cumque a alias sint dicta vel dolorem perferendis temporibus 
                    amet quo perspiciatis autem et eum similique eos.</p>
                <a href="#" class="btn btn-primary bg-success">Conocer m&aacute;s</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body shadow-lg">
                <img src="https://www.clipartmax.com/png/middle/325-3257036_download-mission-icon-vector-clipart-computer-icons-target-icon.png" 
                    alt=""
                    class="img-fluid">
                <h1 class="text-center">Misi&oacute;n</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, est enim. 
                    Harum explicabo, cumque a alias sint dicta vel dolorem perferendis temporibus 
                    amet quo perspiciatis autem et eum similique eos.</p>
                <a href="#" class="btn btn-primary bg-success">Conocer m&aacute;s</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body shadow-lg">
                <img src="https://banner2.cleanpng.com/20190719/vlf/kisspng-computer-icons-vector-graphics-business-value-tran-5d31b3ec1890c2.5682972215635384121006.jpg" 
                    alt=""
                    class="img-fluid"
                >
                <h1 class="text-center">Valor</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, est enim. 
                    Harum explicabo, cumque a alias sint dicta vel dolorem perferendis temporibus 
                    amet quo perspiciatis autem et eum similique eos.</p>
                <a href="#" class="btn btn-primary bg-success">Conocer m&aacute;s</a>
            </div>
        </div>
    </div>
{%endblock%}
